
*{<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
}<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">}*
    <head>
        <title>Administration</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        #{get 'moreStyles' /}
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        *{<script src="@{'/public/javascripts/jquery-1.4.2.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery.tools-1.2.5.toolbox.expose.min.js'}"></script>}*
    </head>
    <body id="admin">
        
        <div id="header">
            <div id="logo">
                   <span>Administration</span>
            </div>
            <ul id="tools">
                <li>
                    <a href="@{Secure.logout()}">Log out</a>
                </li>
            </ul>
        </div>
        
        <div id="main">
            
            <ul id="adminMenu">
                <li class="${request.controller == 'myConference' ? 'selected' : ''}">
                    <a href="@{myConference.show(conference.id)}">Min konferens</a>                    
                	</li>
                	
                #{secure.check 'admin'}
                <li class="${request.controller == 'Conferences' ? 'selected' : ''}">
                     <a href="@{Conferences.list()}">Alla konferenser</a>
                    </li>
                #{/secure.check}
                    
                
            </ul>
            
            #{doLayout /} 
        </div>
        
        <p id="footer">
            AIMday är ett bra koncept
        </p>
        
    </body>
</html>
